@{
    ViewData["Title"] = "Home Page";
}
<!--First hero section-->
<section class="heromain">
    <div class="herobody">
        <div class="herowrap">
            <h1 class="herotext">
                We build <span id="highlight" class="highlight">custom</span><br/>
                websites.
            </h1>
            <div>
                <p class="herotext">
                    Providing quality web applications for businesses and personel looking to expand their online presence.  
                </p>
            </div>
        </div>
    </div>
</section>
<!--Content 1-->

<section class="wrap sellingwrap">
    <div>
        <h2 class="sellingtext text-center">
            You've got some big ideas. . .
        </h2>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="/img/BigIdeas.svg"
                 id="sellingimagecut"
              
                 srcset=""
                 alt=""
                 class="sellingimage " />
        </div>
        <div class="col-12 col-lg-6">
            <div class="sellingbody pt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Porro, tempore. Natus, ullam quo? Vitae obcaecati tempore
                excepturi ipsa incidunt corporis adipisci fugit odio,
                asperiores, at aliquid quibusdam laboriosam neque ad?
                <br />
                <br />
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Nostrum quisquam, temporibus maiores accusantium, iusto a
                veniam sed nesciunt rem aut dolore modi facere omnis commodi,
                ipsa sint atque natus saepe.
            </div>
           
            <a class="button a-inline-block read-button">
                <div class="d-flex align-items-center text-center">
                    Read more about why we're Tiny
                    <i class="bi bi-arrow-right-circle ms-1 leadicon"></i>
                </div>
            </a>

        </div>
    </div>



</section>


@*<div>
    <div class="wrap sellingwrap">
        <div>
            <h2 style="text-align: center" class="sellingtext">
                Selling your company can be brutal...
            </h2>

            <div class="businesswrap">
                <div class="a-selling-left sellingleft">
                    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21e444acd4dad75e173c9e_illustration_1-edit%20(1).png"
                         id="sellingimagecut"
                         sizes="(max-width: 991px) 100vw, 1190px"
                         srcset="
                  https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21e444acd4dad75e173c9e_illustration_1-edit%20(1)-p-500.png  500w,
                  https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21e444acd4dad75e173c9e_illustration_1-edit%20(1).png       1117w
                "
                         alt=""
                         class="sellingimage w-node-e00d7aa3-a32e-e098-520c-f24d26af91ff-b09929b6" />
                    <div class="sellingcontent col1">
                        <div class="sellingbody">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Porro, tempore. Natus, ullam quo? Vitae obcaecati tempore
                            excepturi ipsa incidunt corporis adipisci fugit odio,
                            asperiores, at aliquid quibusdam laboriosam neque ad?
                            <br />
                            <br />
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Nostrum quisquam, temporibus maiores accusantium, iusto a
                            veniam sed nesciunt rem aut dolore modi facere omnis commodi,
                            ipsa sint atque natus saepe.
                        </div>
                        <div class="sellingbody">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Porro, tempore. Natus, ullam quo? Vitae obcaecati tempore
                            excepturi ipsa incidunt corporis adipisci fugit odio,
                            asperiores, at aliquid quibusdam laboriosam neque ad?
                            <br />
                            <br />
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Nostrum quisquam, temporibus maiores accusantium, iusto a
                            veniam sed nesciunt rem aut dolore modi facere omnis commodi,
                            ipsa sint atque natus saepe.
                        </div>
                        <a class="button a-inline-block">
                            <div>
                                Read more about why we're Tiny
                                <i class="bi bi-arrow-right-circle ms-1 leadicon"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!--Content 2-->

@*<div class="carowrap">
    <div class="testimonialwrap">
        <h2 class="text-center">And given founders dream exits...</h2>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="sliderfade leftfade"></div>
                    <div class="sliderfade rightfade"></div>

                    <div class="card mb-3 mx-auto" style="max-width: 540px">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5feb94312d2542d2381dd5ad_Sophia-Amoruso-Girlboss-Testimonial-04.jpg"
                                     class="img-fluid rounded-start"
                                     alt="..." />
                            </div>
                            <div class="col-md-7">
                                <div class="card-body mt-5">
                                    <h6 class="card-title mt-5 text-center text-black">
                                        "I couldnt have asked for a better home for Girlboss.
                                        Tiny has taken the vision and run with it."
                                    </h6>
                                    <div class="font-weight-bold name text-black text-start">
                                        <strong>Sophia Amoruso</strong>
                                    </div>
                                    <p class="text-black text-start body2">
                                        Founder of Girlboss
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sliderfade leftfade"></div>
                    <div class="sliderfade rightfade"></div>
                    <div class="card mb-3 mx-auto" style="max-width: 540px">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5feb94312d2542d2381dd5ad_Sophia-Amoruso-Girlboss-Testimonial-04.jpg"
                                     class="img-fluid rounded-start"
                                     alt="..." />
                            </div>
                            <div class="col-md-7">
                                <div class="card-body mt-5">
                                    <h6 class="card-title mt-5 text-center text-black">
                                        "I couldnt have asked for a better home for Girlboss.
                                        Tiny has taken the vision and run with it."
                                    </h6>
                                    <div class="text-black name font-weight-bold text-start">
                                        <strong>Sophia Amoruso</strong>
                                    </div>
                                    <p class="text-black text-start body2">
                                        Founder of Girlboss
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sliderfade leftfade"></div>
                    <div class="sliderfade rightfade"></div>
                    <div class="card mx-auto mb-3" style="max-width: 540px">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5feb94312d2542d2381dd5ad_Sophia-Amoruso-Girlboss-Testimonial-04.jpg"
                                     class="img-fluid rounded-start"
                                     alt="..." />
                            </div>
                            <div class="col-md-7">
                                <div class="card-body mt-5">
                                    <h6 class="card-title mt-5 text-center text-black">
                                        "I couldnt have asked for a better home for Girlboss.
                                        Tiny has taken the vision and run with it."
                                    </h6>
                                    <div class="text-black text-start name">
                                        <strong>Sophia Amoruso</strong>
                                    </div>
                                    <p class="text-black text-start body2">
                                        Founder of Girlboss
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="bi bi-arrow-left-circle carocircle"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="bi bi-arrow-right-circle carocircle1"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>*@

<!--Content 3-->

<section class="wrap">
    <!--Sell to us Wrap-->

    <h2 class="text-center">Why partner with us?</h2>

    <div class="row justify-content-md-evenly">
        <!--First Card-->
        <div class="col-12 col-lg-3 col-md-5 cardstyle cardcolor">
            <img src="img/undraw_static_website_re_x70h(2).svg"
                 alt=""
                 class="whycoverpic" />
            <div class="itemwrap">
                <h2 class="subtitle1 whyheadline">DIY Approach</h2>
                <ul class="unstyled-list">
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Huge Valuation</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />

                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Second Card-->
        <div class="col-12 col-lg-3 col-md-5  cardstyle cardcolor">
            <img src="img/undraw_wordpress_utxt(2).svg"
                 alt=""
                 class="whycoverpic" />
            <div class="itemwrap">
                <h2 class="subtitle1 whyheadline">WordPress</h2>
                <ul class="unstyled-list">
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Falsum ordus bruth orduion.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Third Card-->
        <div class="col-12 col-md-6 col-lg-3  cardstyle cardcolorwhite">
            <img src="img/undraw_creative_team_re_85gn.svg"
                 alt=""
                 class="whycoverpic img-fluid" />
            <div class="itemwrap itemblue">
                <h2 class="subtitle1 whyheadline">CloudCorps</h2>
                <ul class="unstyled-list">
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Lorem ipsum florum ardus.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                    <li class="list">
                        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
                             alt=""
                             class="whyicon" />
                        <div class="body2">Arcu non odio euismod lacinia.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*  <div class="a-selling-left whygrid">
    <!--First Card-->
    <div class="cardcolumn cardstyle cardcolor">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21dd673211bdf19a2f493b_illustration_3b.png"
    alt=""
    class="whycoverpic" />
    <div class="itemwrap">
    <h1 class="subtitle1 whyheadline">Venture Capital</h1>
    <ul class="unstyled-list">
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Huge Valuation</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />

    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    </ul>
    </div>
    </div>
    <!--Second Card-->
    <div class="cardcolumn cardstyle cardcolor">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21dd6711e42c3145f96656_illustration_3a.png"
    alt=""
    class="whycoverpic" />
    <div class="itemwrap">
    <h1 class="subtitle1 whyheadline">Private Equity</h1>
    <ul class="unstyled-list">
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Falsum ordus bruth orduion.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c724faeddfed87e90ee47_close.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    </ul>
    </div>
    </div>

    <!--Third Card-->
    <div class="cardcolumn cardstyle cardcolorwhite">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21dd67699dd912940fb41b_illustration_3c.png"
    alt=""
    class="whycoverpic" />
    <div class="itemwrap itemblue">
    <h1 class="subtitle1 whyheadline">Tiny</h1>
    <ul class="unstyled-list">
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Lorem ipsum florum ardus.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    <li class="list">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c7249490a8e467d8d3f4a_check.svg"
    alt=""
    class="whyicon" />
    <div class="body2">Arcu non odio euismod lacinia.</div>
    </li>
    </ul>
    </div>
    </div>
    </div>*@




</section>



<!--Our Process wrap-->
<section class="wrap centerwrap">
    <h2 class="text-center">
        Our process is quick, <br />
        creative, and quality
    </h2>
    <div class="a-selling-left processgrid">
        <div class="layout1">
            <div class="body2">Respond in</div>
            <div class="head3">48 hours</div>
        </div>
        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f12169a3b76181e0d038cdb_Union.svg"
             alt=""
             class="arrowstyle timearrow bottomarrow" />
        <div class="layout2">
            <div class="body2">Create website in</div>
            <div class="head3">2 weeks</div>
        </div>
        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f12169a23e1bdee21892387_Union-1.svg"
             alt=""
             class="timearrow arrowstyle2" />
        <div class="layout3">
            <div class="body2">Optimize</div>
            <div class="head3">1 week</div>
        </div>
        <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f12169a28d1800aaac32ec5_Vector%201.svg"
             class="circle"
             alt="" />
    </div>
    <ul class="unstyled-list timelist">
        <li class="list listcenter">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                 alt=""
                 class="whyicon whiteprocessicon" />
            <div class="body2 bodystyle">
                Easy 15 day diligence process focused on what matters
            </div>
        </li>
        <li class="list listcenter">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                 alt=""
                 class="whyicon whiteprocessicon" />
            <div class="body2 bodystyle">
                No golden handcuffs- founders can stay or go
            </div>
        </li>
        <li class="list listcenter">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                 alt=""
                 class="whyicon whiteprocessicon" />
            <div class="body2 bodystyle">Straightforward all cash payments</div>
        </li>
        <li class="list listcenter">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f553fb833882b597ce24846_check-white.svg"
                 alt=""
                 class="whyicon whiteprocessicon" />
            <div class="body2 bodystyle">No in-person meetings</div>
        </li>
    </ul>
</section>


<!--Buy Business-->

<section class="wrap">
    <h2 class="text-center">
        We've got a pretty great tech stack:
    </h2>

    <div class="row">
        <div class="col-6 col-lg-3 text-center">
            <i class="devicon-csharp-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
        <div class="col-6 col-lg-3 text-center">
            <i class="devicon-dotnetcore-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
        <div class="col-6 col-lg-3 text-center">
            <i class="devicon-bootstrap-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
        <div class="col-6 col-lg-3 text-center">
            <i class="devicon-css3-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4 text-lg-end text-center">
            <i class="devicon-github-original colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
        <div class="col-6 col-lg-4 text-center">
            <i class="devicon-html5-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>
        <div class="col-12 col-lg-4 text-lg-start text-center ">
            <i class="devicon-javascript-plain colored" id="techIcon"></i>
            <div class="body3b">High margins</div>
            <div class="body3">Healthy and sustainable</div>
        </div>

    </div>

    @* <div class="a-selling-left buygrid">
    <div class="buywrap buylayout1">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f13bc7ebea986524e8_icon-chart.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">High margins</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout2">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f0b5093e9d72bdf6cb_icon-castle.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout3">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f179358d80c90cbdd4_icon-puzzle.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout4">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f1ba1986a78f036cc4_icon-coin.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout5">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f138d79c86a96ecf54_icon-mountain.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout6">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f1b5093ed150bdf6cc_icon-brain.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    <div class="buywrap buylayout7">
    <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f2c72f23c3948500571b44f_icon-smiley.png"
    width="120"
    alt=""
    class="buyicon" />
    <div class="body3b">A unique advantage</div>
    <div class="body3">Healthy and sustainable</div>
    </div>
    </div>*@
</section>



<section class="wrap">
    <h2 class="text-center">
        Reasons companies seek our services:
    </h2>
    <div class="row">
        <div class="col-12 col-lg-4 mt-5">
            <div class="threecoltextwrap">
                <img src="img/undraw_time_management_re_tk5w(1).svg"
                     
                     srcset="
              "
                     alt=""
                     class="threecolimage" />
                <div class="subtitle2">Optimization</div>
                <div class="body4">
                    You've scaled your business with real customers and revenue. It's
                    profitable ($500k-$50MM), but you're thinking about your next
                    chapter: either handing the reins to someone else, or partnering
                    for the next phase.
                </div>
            </div>
        </div>
         <div class="col-12 col-lg-4 mt-5">
            <div class="threecoltextwrap">
                <img src="img//undraw_social_dashboard_re_ocbd.svg"
                   
                     srcset="
              "
                     alt=""
                     class="threecolimage" />
                <div class="subtitle2">Online Growth</div>
                <div class="body4">
                    You've scaled your business with real customers and revenue. It's
                    profitable ($500k-$50MM), but you're thinking about your next
                    chapter: either handing the reins to someone else, or partnering
                    for the next phase.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="threecoltextwrap">
                <img src="img/undraw_real_time_collaboration_c62i.svg"
                    
                     srcset="
              "
                     alt=""
                     class="threecolimage" />
                <div class="subtitle2">Engagement</div>
                <div class="body4">
                    You've scaled your business with real customers and revenue. It's
                    profitable ($500k-$50MM), but you're thinking about your next
                    chapter: either handing the reins to someone else, or partnering
                    for the next phase.
                </div>
            </div>
        </div>
    </div>

@*    <div class="a-selling-left threecolwrap">
        <div class="threecoltextwrap">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46797e50f6b0b59f29b7db_llustration_2A.png"
                 sizes="(max-width: 479px) 82vw, (max-width: 991px) 83vw, 85vw"
                 srcset="
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46797e50f6b0b59f29b7db_llustration_2A-p-500.png   500w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46797e50f6b0b59f29b7db_llustration_2A-p-800.png   800w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46797e50f6b0b59f29b7db_llustration_2A-p-1080.png 1080w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46797e50f6b0b59f29b7db_llustration_2A.png        1556w
              "
                 alt=""
                 class="threecolimage" />
            <div class="subtitle2">Growing and Profitable</div>
            <div class="body4">
                You've scaled your business with real customers and revenue. It's
                profitable ($500k-$50MM), but you're thinking about your next
                chapter: either handing the reins to someone else, or partnering
                for the next phase.
            </div>
        </div>
        <div class="threecoltextwrap">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782bf6b52420116196a0_llustration_2B.png"
                 sizes="(max-width: 479px) 82vw, (max-width: 991px) 83vw, 85vw"
                 srcset="
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782bf6b52420116196a0_llustration_2B-p-500.png   500w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782bf6b52420116196a0_llustration_2B-p-800.png   800w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782bf6b52420116196a0_llustration_2B-p-1080.png 1080w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782bf6b52420116196a0_llustration_2B.png        1556w
              "
                 alt=""
                 class="threecolimage" />
            <div class="subtitle2">Growing and Profitable</div>
            <div class="body4">
                You've scaled your business with real customers and revenue. It's
                profitable ($500k-$50MM), but you're thinking about your next
                chapter: either handing the reins to someone else, or partnering
                for the next phase.
            </div>
        </div>
        <div class="threecoltextwrap">
            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782ce158e106db4c0b34_llustration_2C.png"
                 sizes="(max-width: 479px) 82vw, (max-width: 991px) 83vw, 85vw"
                 srcset="
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782ce158e106db4c0b34_llustration_2C-p-500.png   500w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782ce158e106db4c0b34_llustration_2C-p-800.png   800w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782ce158e106db4c0b34_llustration_2C-p-1080.png 1080w,
                https://assets.website-files.com/5f10771cbfea70224f1ce526/5f46782ce158e106db4c0b34_llustration_2C.png        1570w
              "
                 alt=""
                 class="threecolimage" />
            <div class="subtitle2">Growing and Profitable</div>
            <div class="body4">
                You've scaled your business with real customers and revenue. It's
                profitable ($500k-$50MM), but you're thinking about your next
                chapter: either handing the reins to someone else, or partnering
                for the next phase.
            </div>
        </div>
    </div>*@
</section>
@*<section class="wrap intouchwrap">
    <h2 class="text-center">
        Not sure your business would benefit from a technical upgrade?<br/> Send it anyway. We'll let you know what we think.<br/> No pressure, no fancy talk—just a laid-back response coming your way!
    </h2>
    <a href="mailto:hi@tinycapital.com" class="button a-inline-block intouch-button">
        Get in touch <i class="ms-2 bi bi-arrow-right-circle text-light"> </i>
    </a>
</section>*@


<!--Content 4-->

    <section class="wrap">
    <div class="leadwrap">
        <div class="scouttext">
        <button class="button d-flex a-inline-block bluebutton justify-content-end">
            Talk More <i class="bi bi-arrow-right-circle leadicon"></i>
        </button>
        <div class="leadbody">
            The world is an ever changing place, technology included. If you're questioning your online presence, maybe it's time to upgrade your platform, we'll let you know what we think. No pressure. no fancy jargon-just a laid-back response you'll understand.
        </div>

        <h3 class="text-center">
            Don't be shy <br />
        </h3></div>
        <div class="scoutimage">
    <img src="img/undraw_email_capture_re_b5ys.svg"
         width="332"
         alt=""" />
        </div>
 </div>
  @*      <div class="leadwrap">
            <div class="leadtexwrap">
                <h3 class="subtitle1 leadheadline">
                    Know someone we should talk to? <br />
                </h3>
                <div class="leadbody">
                    Scout a deal for us and we'll make it worth your while! We pay
                    finders fees of $25,000 to $200,000+, all you have to do is intro
                    us.
                </div>
                <button class="button a-inline-block bluebutton">
                    Send us a lead <i class="bi bi-arrow-right-circle leadicon"></i>
                </button>
            </div>

            <img src="https://assets.website-files.com/5f10771cbfea70224f1ce526/5f21dd6753ae7a2394148259_illustration_tiny_scout.png"
                 width="332"
                 alt=""
                 class="leadimage" />
        </div>*@
    </section>
