@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@300&family=Questrial&display=swap');
:root {
    --cc-primary-color: #8a49d6;
    --cc-secondary-color: #3BC3E5;
    --cc-dark-blue: #020887;
    --cc-highlight-color: #E37DF4;
    --text-color: white;
    --cc-light-blue-color: #54B8FA;
    --cc-font-body: 'Overpass', sans-serif;
    --cc-font-heading2: 'Bebas Neue', sans-serif;
    --cc-font-heading1: 'Questrial', sans-serif;
    /* #a869f2*/
}

html {
    height: 100%;   
    font-size: 16px;
 

}

body {
    background-color: #4C1F79;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a11dc6'/%3E%3Cstop offset='1' stop-color='%23a11dc6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231826d5'/%3E%3Cstop offset='1' stop-color='%231826d5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23663ffa'/%3E%3Cstop offset='1' stop-color='%23663ffa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234C1F79'/%3E%3Cstop offset='1' stop-color='%234C1F79' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F43BEA'/%3E%3Cstop offset='1' stop-color='%23F43BEA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2344BCFF'/%3E%3Cstop offset='1' stop-color='%2344BCFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /*    background-color: var(--cc-primary-color);*/
    color: var(--text-color);
    font-family: var(--cc-font-body);
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    display: grid;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

    body::-webkit-scrollbar {
        display: none !important;
    }

main{
    overflow-x: hidden;
    width: auto;
}
h1 {
    font-family: var(--cc-font-heading1);
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3.3rem;
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
}

h2 {
    margin-top: 0;
    font-family: var(--cc-font-heading2) ;
    margin-bottom: 3rem;
    letter-spacing: .15rem;

    font-size: 2.1rem;
    line-height: 2.1rem;
    font-weight: 700;
    -o-object-fit: fill;
    object-fit: fill;
}

h3 {
    margin-top: 0px;
    font-family: var(--cc-font-heading2);
    margin-bottom: 3rem;
  
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 700;
}
h4{
    font-size: 1rem;
    font-weight: 700;
}

p {
    margin-bottom: .8rem;

}

a {
    color: #fff;
    text-decoration: underline;
}
/*#offcanvasNavbar{
   background-color: var(--cc-dark-blue);
 
}
.nav-bar {

    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.navbar-toggler{
    
    font-size: 2rem;
    color: white;
}
.navbar-toggler-icon{
    color: blue !important;
}

.dropdown-toggle::after {
    display: none;
}

.a-nav {
    position: relative;
    z-index: 1000;
}

.navwrap {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: block;
    margin-right: 20px;
    padding: 0px;
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    line-height: 16px;
}

.a-nav-link {
    position: relative;
    vertical-align: top;
    margin-left: auto;
    text-align: left;
}*/

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.section.navsection {
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    position: relative;
    padding: 0 36px 0 36px;
}

.a-navbar-brand {
    position: relative;
    float: left;
    text-decoration: none;
}

.navmenu {
    align-items: center;
}

.a-navmenu {
    position: relative;
    float: right;
}

.linkswrap {
    display: flex;
    align-items: center;
}

/*.nav-dropdown {
    display: block;
}

.a-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}

.dropdown-toggle {
    display: flex;
    margin-right: 32px;
    padding: 12px 16px 12px 0px;
    align-items: center;
    color: var(--text-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.a-dropdown-toggle {
    user-select: none;
    cursor: pointer;
}

.a-dropdown-toggle {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    text-align: left;
    margin-left: auto;
    white-space: nowrap;
}

.dropdownicon {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    padding-bottom: 4px;
}
*/
.button {
    position: relative;
    display: flex;
    padding: 14px 20px 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 8px;

    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
}

    .button.navbutton {
        align-items: right;
        text-align: end;
    }

.a-inline-block {
    max-width: 100%;

}

.button:hover {
  background-color: var(--cc-highlight-color);
  color: white;
}

 section, section.heromain {
 padding-left: 2rem;
    padding-right: 2rem;
 }
.heromain {
    display: flex;
    height: auto;
    min-height: auto;
    padding-top: 86px;
    padding-bottom: 80px;
    align-items: center;
   
}

.herobody {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.herowrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.herotext {
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2rem;
    text-align: center;
}

.highlight {
    position: relative;
    color: var(--cc-primary-color);
}

#highlight::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0px;
    bottom: 2px;
    left: -15px;
    z-index: -1;
    display: block;
    overflow: visible;
    background: url(/img/vecteezy_grunge-paintbrush-ink-stroke-brush_22070584_533.png) center center no-repeat;
    background-size: contain;
}

.wrap {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    max-width: 1246px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    .wrap.sellingwrap {
        max-width: 1246px;
       
    }

.sellingtext {
    max-width: 940px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.sellingimage {
    padding-right: 16px;
}

    .sellingimage.sellingimagefull {
        position: absolute;
        left: -253px;
        top: -98px;
        right: auto;
        bottom: auto;
        width: 1190px;
        display: grid;
    }

.sellingleft {
    position: relative;
    z-index: 5;
    width: 100%;
    margin-bottom: 100px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-rows: auto;
}

.a-selling-left {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
}

.col1 {
    align-self: center;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
}

.sellingcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.businesswrap {
    position: relative;
   text-align: center;
   flex-direction: column;
 display: flex;
}

.sellingbody {
    margin-bottom: 32px;
}

.testimonialwrap {
    align-self: center;
    text-align: center;
}



.centered {
    text-align: center;
}

.whygrid {
    display: grid;
    width: 100%;
    margin-top: 60px;
    grid-auto-columns: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
/*
.cardcolumn {
    grid-row-start: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
}*/

.cardstyle {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 2rem;
    text-align: center;
}

    .cardstyle.cardcolor {
        background-color: var(--cc-highlight-color);
        box-shadow: none;
        color: #fff;
    }

.itemwrap {
    padding: 32px 32px 16px;
}



.whycoverpic {
  
    margin-top: 2rem;
    margin-bottom: 16px;
    align-self: center;
}

.unstyled-list {
    padding-left: 0;
    list-style: none;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    
}

.list {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    
}

.whyicon {
    margin-right: 12px;
    margin-bottom: 2px;
}

.body2 {
   
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.cardcolorwhite {
    background-color: #fff;
}

.itemblue {
    color: #0e0066;
}

.wrap.centerwrap {
    max-width: 768px;
    padding-top: 2.5rem;
    padding-bottom: 0px;
    text-align: center;
}



.processgrid {
    max-width: 820px;
    margin-bottom: 32px;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.layout1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
}

.head3 {
    margin-bottom: 0px;
    font-family: Objectsans, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.arrowstyle {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
}

.timearrow {
    margin-bottom: -10px;
}

    .timearrow.bottomarrow {
        margin-top: -10px;
        margin-bottom: 0px;
    }

.layout2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    align-self: center;
}

.arrowstyle2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 8;
    justify-self: start;
    margin-bottom: 5px;
}

.layout3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 9;
    align-self: center;
}

.circle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 9;
    justify-self: center;
}

.timelist {
    margin-top: 16px;
    padding-left: 0px;
}

.list.listcenter {
    justify-content: center;
}

.whyicon.whiteprocessicon {
    margin-bottom: 4px;
}


.buygrid {
    display: grid;
    width: 100%;
    margin-top: 88px;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.buylayout1 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buywrap {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}



.body3b {
    margin-top: 1.2rem;
  
    font-weight: 700;
    font-size: 1.5rem
}

.body3 {

}

.buy-column-btm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.buylayout2 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout3 {
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout4 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.buylayout6 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.buylayout7 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.threecolwrap {
    width: 100%;
    margin-top: 96px;
    grid-column-gap: 60px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.threecoltextwrap {
    text-align: center;
}

.threecolimage {
    z-index: 1;
    width: 90%;
    margin-bottom: 48px;
}

.subtitle2 {
    margin-bottom: 4px;
    font-family: Objectsans, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}

p.body2 {
    font-size: 15px;
}

.body4 {
    margin-top: 8px;
    font-family: Objectsans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

/*.wrap.intouchwrap {
    display: -webkit-box;
    display: flex;
    max-width: 850px;
    padding-top: 80px;
    padding-bottom: 120px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}*/

.intouch {
    font-size: 38px;
    line-height: 48px;
}

.leadwrap {
    position: relative;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    color: #0e0066;
}

.leadimage {
    display: block;
    width: 250px;
    align-self: center;
    flex: 0 0 auto;
}

.leadtextwrap {
    display: flex;
    width: 630px;
    margin-top: 16px;
    margin-right: 64px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.subtitle1.leadheadline {
    margin-bottom: 16px;
}

.leadbody {
    margin-bottom: 32px;
    font-family: Objectsans, sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.bluebutton {
    border-color: #1a21ff;
    color: #1a21ff;
}

.footerwrap {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 120px;
}

.leadicon {
    font-size: 2rem;
    margin-left: 7px;
}

.returnlink {
    text-decoration: none;
}

.footerhead {
    display: flex;
    justify-content: space-between;
}

.brand {
    padding-left: 0px;
}

.a-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}


.footergrid {
    grid-column-gap: 48px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.footercol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottomlink {
    display: flex;
    margin-bottom: 8px;
    font-family: Objectsans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

.footercolumn.secondcolumn {
    margin-top: 32px;
}

.footerbottom {
    margin-bottom: 12px;
}

.newswrap {
    padding-top: 112px;
}

.a-form {
    margin: 0 0 15px;
}

.block {
    margin-top: 32px;
    margin-bottom: 120px;
}

.form {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.a-input {
    display: block;
    width: 100%;
    padding: 8px 12px;
}

.text-email {
    height: 64px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 0px;
    border: 1px none transparent !important;
    background-color: transparent;
    font-family: Objectsans, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}

input::placeholder {
    color: #fff;
    opacity: 80%;
}

.submitbutton {
    width: 34px;
    height: 64px;
    margin-left: 32px;
    padding-right: 17px;
    padding-left: 17px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.testwrap {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.write {
    padding-top: 31px;
}

.testpic {
    width: 280px;
    height: 100%;
    align-self: stretch;
    flex: 0 0 auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.name {
    font-weight: 700 !important;
    font-size: 15px;
}

.testcontent {
    width: 100%;
    padding: 60px 48px;
    align-self: center;
    justify-content: stretch;
}

.testimonial {
    position: relative;
    overflow: hidden;
    max-height: 588px;
    margin-right: 16px;
    border-radius: 9px 8px 8px 9px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 2px 8px 0 rgb(0 0 0 / 8%);
    color: #0e0066;
}

.carosection {
    justify-content: center;
    align-items: center;
}

.carowrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    max-width: 1246px;
    padding-top: 108px;
    padding-bottom: 108px;
}

.carocircle {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 250%;
    right: auto;
    bottom: -1%;
    font-size: 45px;
}

.carocircle1 {
    position: absolute;
    width: 100%;
    height: 0%;
    left: auto;
    right: 250%;
    bottom: -1%;
    font-size: 45px;
}

.sliderfade {
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100%;
    left: auto;
    right: 25%;
    opacity: 90%;
    background-image: linear-gradient(90deg, transparent, #1a21ff);
    background-image: --webkit-gradient(linear, right top, left top, from(#1a21ff), to(rgba(26, 33, 255, 0)));
}

.leftfade {
    left: 25%;
    top: 0%;
    right: auto;
    bottom: 0%;
    background-image: linear-gradient(270deg, transparent, #1a21ff);
    background-image: --webkit-gradient(linear, right top, left top, from(#1a21ff), to(rgba(26, 33, 255, 0)));
}

form::after {
    border: none;
}

input {
    color: #fff;
    border: none;
}





/*  07/12/2023 */

#techIcon {
    font-size: 6rem;
    color: white; /* Choose a color that stands out */
    background: rgb(4,172,247);
    background: linear-gradient(151deg, rgba(4,172,247,1) 30%, rgba(251,15,228,0.9948354341736695) 85%, rgba(108,13,138,1) 100%);
    padding: 10px; /* Increase padding for more visual impact */
    border-radius: 50%; /* Apply a circular shape */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out; /* Apply a smooth transition on hover */
    margin-bottom: 1rem;
}
#techIcon2 {
    font-size: 6rem;
    color: white; /* Choose a color that stands out */
    background: rgb(4,172,247);
    background: linear-gradient(151deg, rgba(4,172,247,1) 30%, rgba(251,15,228,0.9948354341736695) 85%, rgba(108,13,138,1) 100%);
    padding: 10px; /* Increase padding for more visual impact */
    border-radius: 10px; /* Apply a circular shape */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1rem;
}


    #techIcon:hover {
        transform: scale(1.1); /* Scale up the icon on hover for an interactive effect */
    }

.icon-container{
    margin-bottom: 4rem;
}

/* end */

/*
@media screen and (min-width: 280px){
    .scouttext {
        width: 190px;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
        display: flex;
        font-size: .8rem;
    }
    .leadbody {
        font-size: .9rem !important;
      
    }
}*/

/*@media only screen and (min-width: 480px) {
    h2{
        font-size:1.6rem;
    }
    .leadwrap {
        align-items: center;
        margin-left: 6%;
        margin-right: 6%;
    }
    body, p, li{
        font-size: 1.2rem;
    }
  .itemwrap{
      display: flex;
      flex-direction: column;
      align-items:center;
  }*/
/*    .intouch-button{
        margin-left: 22%;
        margin-right: 22%;
        font-size: 1.1rem;
    }*/
  /*  .leadbody {
        font-size: 1rem;
        margin-right: 7rem;
    }*/
    /*.intouch-button {
        margin-left: 30%;
        margin-right: 30%;
        font-size: 1.1rem;
    }
    .scouttext {
        width: 450px;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
       
        display: flex;
        font-size: .8rem;
    }
  .leadbody{
        font-size: 1rem !important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}



@media only screen and  (min-width: 767px) {

    h1{
        font-size: 5rem;
        line-height: 5rem;
    }
    body, p, li {
        font-size: 1.5rem;
    }
    h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .intouch-button {
        margin-left: 37%;
        margin-right: 37%;
        font-size: 1.1rem;
    }
    .leadwrap {
        align-items: center;
        margin-right: 2%;
        margin-left: 2%;
    }
    .read-button{
        margin-left: 30%;
        margin-right: 30%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1rem;
    }
    .scouttext {
        width: 600px;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 5rem;
        display: flex;
        font-size: 1rem;
    }
    .leadbody {
        font-size: 1rem;
        margin-right: 7rem;
    }

    .scoutimage {
        width: 250px;
        position: absolute;
        flex: none;
        align-self: center;
        display: flex;
        right: 2%;
    }

}
@media only screen and (min-width: 992px)  {
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 1.5rem;
    }
    h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    body, p, li {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
   .nav-link{
        font-size: 4rem;
    }

    .intouch-button {
        margin-left: 39%;
        margin-right: 39%;
        font-size: 1.3rem;
    }
    .leadwrap{
        margin-left: 4rem;
        margin-right: 4rem;
    }
  
    .read-button {
        margin-left: 20%;
        margin-right: 20%;
    }

    .scouttext {
        width: 600px;
        flex-direction: column-reverse;
       
        align-items: flex-start;
       margin-left: 0;
        margin-right: 5rem;
        display: flex;
    }
    .scoutimage{
        width: 250px;
        position: absolute;
        flex:none;
        align-self: center;
        display: flex;
        right: 2%;
    }
}


@media only screen and (min-width: 1200px) {

    h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    body, p, li {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.8rem;
    }
    .leadwrap {
        margin-left: 7rem;
        margin-right: 7rem;
        display: flex;
        align-items: flex-start;
    }
    .intouch-button {
        margin-left: 39%;
        margin-right: 39%;
        font-size: 1.3rem;
    }


    .read-button {
        margin-left: 20%;
        margin-right: 20%;
    }

    .scouttext {
        width: 600px;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 5rem;
        display: flex;
    }

    .scoutimage {
        width: 300px;
        position: absolute;
        flex: none;
        align-self: center;
        display: flex;
        right: 2%;
        top: 1%;
    }
}*/

